.titulo {
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 700;
    color: #FF6B4A;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    text-align: center;
}

.text {
    font-size: 18px;
    margin-top: -10px;
    color: #ec792c;
    z-index: -2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

.text:hover {
    color: #A4D0FF;
}

.titulo:hover {
    color: #A4D0FF;
}

body {
    padding-top: 110px;
    z-index: 1;
    display: grid;
    height: 100%;
    background: linear-gradient(105deg, #f8cfb5 10%, #CFE3FF 90%);
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image:
        radial-gradient(circle at 20% 30%, rgba(221, 106, 34, 0.475) 10%, transparent 25%),
        radial-gradient(circle at 80% 80%, rgba(77, 140, 212, 0.683) 8%, transparent 20%);
    z-index: 0;
    pointer-events: none;
    opacity: 0.9;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #DDEBFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 3px 0#6D85A8;
    z-index: 5;
}

.perfil {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
}

.registro {
    margin-top: 100%;
    font-size: 30px;
    color: #f4741f;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

.registro:hover {
    color: #A4D0FF;
}

.left-section {
    margin-top: 10px;
}

.btn-sesion {
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 20px;
    border: none;
    background-color: #FF6B4A;
    margin-top: 52px;
    border: 50%;
    margin-bottom: 40px;
    color: #262020;
    padding: 0.3em 1em;
    border-radius: 100px;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-sesion:hover {
    background-color: #A4D0FF;
    color: #000000;
}

.carrito {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    display: flex;
    color: #FF6B4A;
}

.carrito:hover {
    color: #82a9e2;
}

.pro {
    margin-left: 10px;
}

.pantalon-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    z-index: -1;
    margin: 0 auto;
    border: 6px solid #ff7f62;
    display: flex;
    margin-top: 150px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.pantalon2-img {

    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    z-index: -1;
    margin: 0 auto;
    border: 6px solid #ff7f62;
    display: flex;
    margin-top: 150px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


.pantalon1-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    z-index: 1;
    margin: 0 auto;
    border: 6px solid #ff7f62;
    display: flex;
    margin-top: 150px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    margin-top: -80px;

    content: center;

}

.carousel-control-prev-icon {
    margin-right: -130px;
}

.carousel-control-next-icon {
    margin-left: -130px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    margin-top: 170px;
}


.p1 {
    margin-left: 260px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 20px;
    font-size: 25px;
    border: solid #ffffff;
    color: #3A2E2E;

}


.btn-comprar {
    font-family: 'Italiana', serif;
    font-size: 25px;
    border: none;
    background-color: #FF6B4A;
    margin: 30px auto;
    padding: 12px 30px;
    border-radius: 12px;
    z-index: 10;
    cursor: pointer;
    color: #3A2E2E;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.btn-comprar:hover {
    background-color: #A4D0FF;
    transform: scale(1.05);
}


.contentF {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    flex-direction: column;

}

.compra {
    margin-top: -249px;
    margin-left: 610px;
    padding: 40px 20px;
    text-align: center;
    color: #eb6f1d;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    z-index: 1;
    background-color: #DDEBFF;
    border-top: 3px dashed #ff7f62;
    border-bottom: 3px dashed #ff7f62;
    border-radius: 10px;
    width: 500px;
    height: 248px;
    margin-right: auto;
    margin-bottom: 50px;
}

.btn-comprar2 {
    font-family: 'Italiana', serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #FF6B4A;
    margin: 13px auto;
    padding: 12px 30px;
    border-radius: 12px;
    z-index: 10;
    cursor: pointer;
    color: #3A2E2E;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.contacto {
    margin-top: 100px;
    display: flex;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    background-color: #DDEBFF;
    border-top: 3px dashed #ff7f62;
    border-bottom: 3px dashed #ff7f62;
    border-radius: 10px;
    width: 450px;
    margin-left: -650px;
    z-index: 1;
}

.queEs {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #4483b7;
    text-decoration: none;
    text-align: center;
    display: block;
}

.enlace {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #f46d2e;
    text-decoration: none;
    margin-left: 15px;
    text-align: center;
    display: block;
    margin-top: 6px;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 8px;

}

.enlaces {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #f46d2e;
    text-decoration: none;
    font-size: 18px;
    margin-left: -50px;
    display: block;
    margin-top: 19px;

}

.text2 {
    font-size: 18px;
    margin-left: 30px;
    margin-top: -10px;
    color: #ec792c;
    z-index: -2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

.flex {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: max-content;
    margin-top: 50px;
}

.fila-form {
    display: flex;
    flex-direction: row;
}

.foo {
    margin-top: 100px;
    text-align: center;
    color: #eb6f1d;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

.foo:hover {
    color: #619ddd;
}

.titulo-personalizado {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.texto-personalizado {
    font-family: 'Poppins', sans-serif;
    color: black;
}